/* Page */
.ui-header .ui-title {
	margin: .6em 20% .8em;
}
/* Footer */
#footer .ui-icon {
	top: 6px;
	width: 26px!important;
	height: 26px!important;
	margin-left: -14px !important;
	box-shadow: none!important;
	-moz-box-shadow: none!important;
	-webkit-box-shadow: none!important;
	-webkit-border-radius: 0 !important;
	border-radius: 0 !important;
}
#footer .ui-btn-inner {
	padding: 35px 0 5px 0;
}
.ui-icon-keypad {
	background: url(../images/keypad-white.png) 0 0 no-repeat;
	background-size: 26px 26px;
}
.ui-icon-stop-list {
	background: url(../images/list-white.png) 0 0 no-repeat;
	background-size: 26px 26px;
}
.ui-icon-map {
	background: url(../images/map-white.png) 0 0 no-repeat;
	background-size: 26px 26px;
}
/* Keypad View */
#keypad {
	padding-top: -10px;
}
#code-label {
	text-align: center;
	font-weight: bold;
}

#code-label,
.action-button,
.keypad-button {
	padding: .3em;
	margin: .1em;
	font-size: 2em;
	border-radius: .3em;
	-moz-border-radius: .3em;
	-webkit-border-radius: .3em;
}

#go-button .ui-btn-inner {
	padding: 0.6em 10px;
}

.keypad-button .ui-btn-inner,
.action-button .ui-btn-inner {
	border-top: none;
}

.ui-block-b.ui-block-c {
	width: 66.666%;
}

#code-label-wrapper {
	width: 66.666%;
	padding: 0 4px;
}

#code-label-border {
	border: 1px solid #666;
	background-color: #FFF;
	margin-top: .3em;
	height: 56px;
	border-radius: .3em;
	-moz-border-radius: .3em;
	-webkit-border-radius: .3em;
}

#clear-button-wrapper {
	width:66.55%;
}

/*** Stop List View ***/

#tour-stop-list span.distance {
	float: right;
	margin-right: 1em;
	padding: 0.3em;
	font-size: 0.8em;
}

#tour-stop-list li.nearest span.distance {
	background-color: #7FBCE5;
	border-radius:.3em;
	-moz-border-radius:.3em;
	-webkit-border-radius:.3em;
}

/* Map View */
#tour-map {
	width: 100%;
	height: 100%;
}

.leaflet-top, .leaflet-bottom {
	z-index: 999 !important;
}

/*** Tour Stops ***/

.tour-stop .title {
	font-size: 120%;
	margin: 0 0 20px 10px;
}

.tour-stop .description {
	margin: 10px;
}


/*** Audio Stops ***/
#audio-stop {
	width: 100%;
}

#audio-stop .poster-image {
	width: 100%;
}

/*** Video Stops ***/
#video-stop .player {
	width: 100%;
}

/* Image Stop */
#gallery {
	margin: 0;
	padding: 0;
	list-style: none;
}

#gallery li {
	float: left;
	width: 33.33333333%;
}

#gallery li a {
	display: block;
	margin: 5px;
	border: 1px solid #3c3c3c;
}

#gallery li a img {
	display: block;
	width: 100%;
	height: auto;
}

/*** MEDIA QUERIES ***********************************************************/
.tap_backend_li{
	list-style:none;
}


/* Hide weird characters that appear after grunt contatenation */
.ui-icon.ui-icon-arrow-r.ui-icon-shadow {
	text-indent: -9999px;
}
