@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700,400italic);

/* Typography */
body,
input,
select,
textarea,
button,
.ui-btn {
    font-family: 'Merriweather', serif;
    font-weight: 400;
}

strong {
    font-weight: 700;
}

.ui-page-theme-a, .ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head + body .ui-btn.ui-btn-a,
.ui-page-theme-a .ui-btn:visited, html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited, html head + body .ui-btn.ui-btn-a:visited {
    text-shadow: none;
}

/* Colors */
.ui-page-theme-a a, html .ui-bar-a a, html .ui-body-a a, html body .ui-group-theme-a a,
.ui-page-theme-a a:visited, html .ui-bar-a a:visited, html .ui-body-a a:visited, html body .ui-group-theme-a a:visited {
    color: #517891;
}

.ui-page-theme-a {
    background: #e2ddcc !important;
    color: #3a617a !important;
    text-align: center;
}

/* Page */
.ui-header h3 {
    margin: .7em 5.5em;
    text-shadow: none;
}
.ui-page-header-fixed {
    padding-top: 43px;
}
.ui-page-footer-fixed {
    padding-bottom: 49px;
}
#content-wrapper {

}
#content-wrapper h3.stop-title {
    margin-top: 0;
    width: 100%;
}
.ui-btn-back {
    float: left;
    font-weight: 400 !important;
    font-size: .875em !important;
    text-decoration: none;
    text-transform: lowercase;
    padding: 18px 15px 10px;
}
.ui-btn-back i {
    float: left;
    font-size: 2em;
    margin-top: -6px;
    margin-right: 5px;
}

/* popup */
#popup-view p {
    text-align: center;
}

/* social popup */
.share-button {
    margin-bottom: 10px;
}

/* Header */
#header .ui-icon-social {
    background-image: url(../images/share-white.png);
    background-size: 16px 16px;
}

.ui-bar-a,
.ui-page-theme-a .ui-bar-inherit,
html .ui-bar-a .ui-bar-inherit,
html .ui-body-a .ui-bar-inherit,
html body .ui-group-theme-a .ui-bar-inherit {
    background: #fff !important;
    border: none;
    text-align: center;
}

/* Footer */
#footer .ui-icon {
}
.ui-footer .ui-btn {
    border: none !important;
    text-shadow: none !important;
    color: #517891 !important;
    text-transform: lowercase;
    font-weight: 400;
}
.ui-footer .ui-btn-active {
    background-color: #d3dde3 !important;
}
.ui-icon-keypadview:after{
    background-color: #517891;
    -webkit-mask-image: url(../images/keypad_icon.svg);
    mask-image: url(../images/keypad_icon.svg);
    background-size: cover;
    border-radius: 0;
}
.ui-icon-stoplistview:after {
    background-color: #517891;
    -webkit-mask-image: url(../images/menu_icon.svg);
    mask-image: url(../images/menu_icon.svg);
    background-size: cover;
    border-radius: 0;
}
.ui-icon-mapview:after {
    background-color: #517891;
    -webkit-mask-image: url(../images/map_pointer.svg);
    mask-image: url(../images/map_pointer.svg);
    background-size: cover;
    border-radius: 0;
}

/* list view overrides */
.ui-listview .ui-li-icon {
    top: .7em;
}

/* Tour List */
.tour-list h1 {
    margin-bottom: 0;
}

.tour-list p {
    margin: 0;
    padding: 5px 0 20px;
}

.tour-wrapper {
    position: relative;
    overflow: hidden;
}
.tour-image img {
    width: 100%;
    vertical-align: bottom;
}

div.tour-title {
    background: rgb(81,120,145);
    color: #FFF;
    font-weight: 400;
    padding: 0;
    text-align: center;
    text-shadow: none;
    white-space: normal;
    width: 100%;
}

.tour-title span {
    display: block;
    padding: 10px;
}

.tour-info {
    background: #e2ddcc !important;
    border: none !important;
}

/* Tour Details */
#tour-details #header-wrapper img {
    display: block;
    width: 100%;
}

/* Keypad */
#keypad {
    padding-bottom: 100px;
}

.keypad-button,
.action-button {
    border: 1px solid rgb(81,120,145);
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    border-radius: 75px;
    cursor: pointer;
    font-size: 2.6em;
    line-height: 1;
    margin: .285em auto;
    max-width: 42px;
    padding: .38em;
}

.clear-button {
    background: url(../images/delete_key.svg) 7px center no-repeat;
    background-size: 75%;
    padding: 0;
    width: 75px;
    height: 75px;
    max-width: inherit;
}

.go-button {
    background: #cfe5b5;
    padding: .85em .55em .625em .45em;
    font-size: 1.9em;
    text-transform: uppercase;
}

#code-label {
    text-align: center;
    font-size: 3.5em;
    margin: .1em;
    line-height: 1;
    padding: .24em;
}

#code-label-wrapper {
    padding: 0 6px 5px 5px;
    width: 100%;
}

#code-label-border {
    background-color: none;
    height: 80px;
    margin-top: .3em;
}

/* Stop List View */
#tour-stop-list .distance {
    float: right;
    font-size: 0.8em;
    margin-right: 1em;
    padding: 0.3em;
}

#tour-stop-list .nearest .distance {
    background-color: #7FBCE5;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    border-radius:.3em;
}

.stop-code {
    font-size: 2em;
    opacity: .3;
    position: absolute;
    top: 1px;
    width: 36px;
}

.title-with-code {
    padding-left: 46px;
}

.ui-btn-icon-right:after {
    display: none;
}

/* Map View */
#content-wrapper.tour-map {
    padding: 0;
}

#tour-map {
    height: 100%;
    width: 100%;
}

.leaflet-top, .leaflet-bottom {
    z-index: 999 !important;
}

.marker-bubble-content .stop-options {
    margin-top: 5px;
    text-align: center;
}

.leaflet-popup-content-wrapper {
    -webkit-border-radius: 0;
    border-radius: 0;
}

.leaflet-popup-content {
    margin: 2px 4px;
}

.leaflet-popup-content .title a {
    color: #000;
    font-weight: 700;
    text-decoration: none;
}

.leaflet-popup-content .distance {
    font-size: 80%;
}

.leaflet-popup-content .goto-stop {
    float: right;
    margin: 2px 0 0 0;
}
.leaflet-popup {
    margin-bottom: 20px;
}
/* Tour Stops */

.tour-stop .title {
    font-size: 120%;
    margin: 0 0 20px 10px;
}

.tour-stop .description {
    margin: 10px;
}

#tour-zooming,
.tour-zooming {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
#tour-zooming.zoomingImageDescription {
    background-color: #aaa;
    bottom: 0;
    color: white;
    height: 25px;
    left: 0;
    padding: 5px;
    position: absolute;
}

/* Stop Group */
.ui-content.stop-group {
    padding: 0;
}

#stop-group #header-wrapper img {
    display: block;
    height: auto;
    width: 100%;
}

#stop-group h3.stop-title {
    margin: 15px 20px 0 20px;
}

#stop-group .description {
    margin: 20px;
}

#stop-group #stop-list {
    margin: 20px;
}

/* Media Player */
.player {
    max-width: 100%;
}
.mejs-overlay-play,
.mejs-poster {
    height: 100%;
    width: 100%;
}
/* Audio Stops */

#audio-stop .poster-image {
    width: 100%;
}

/* Video Stops */
#video-stop .player {
    max-width: 100%;
}

/* Image Stop */
#gallery {
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery li {
    float: left;
    width: 33.33333333%;
}

#gallery li a {
    border: 1px solid #3c3c3c;
    display: block;
    margin: 5px;
}

#gallery li a img {
    display: block;
    height: auto;
    width: 100%;
}
/* Web stop */
#web-stop img {
    height: auto;
    padding: 10px 0;
    width: 100%;
}
a.next-button {
    clear: both;
}

/* Audio Slideshow Stop */
.slideshow-images {
    height: 300px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.slideshow-images img {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    opacity:0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    display: block;
    left:0;
    max-height: 300px;
    position:absolute;
}

.slideshow-images img.opaque {
    opacity:1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=1);
}

/* Quiz Stop */
.quiz-result {
    display: none;
}

/* Zoom Stop */
.zoomingImageDescriptionHandle, .zoomingImageDescriptionText {
    background: rgba(0,0,0,.5);
    bottom: 0px;
    color: #FFF;
    font-size: 12px;
    padding: 5px 5px 25px 5px;
    position: absolute;
    text-align: left;
    text-shadow: none;
    width: 100%;
}
