/* Page */
.ui-header .ui-title {
    margin: .7em 5.5em;
}
.ui-page-header-fixed {
    padding-top: 43px;
}
.ui-page-footer-fixed {
    padding-bottom: 49px;
}

/* popup */
#popup-view p {
    text-align: center;
}

/* social popup */
.share-button {
    margin-bottom: 10px;
}

/* Header */
#header .ui-icon-social {
    background-image: url(../images/share-white.png);
    background-size: 16px 16px;
}

/* Footer */
#footer .ui-icon {
    top: 3px;
    width: 26px!important;
    height: 26px!important;
    margin-left: -14px !important;
    -moz-box-shadow: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}
#footer .ui-btn-inner {
    padding: 30px 0 5px 0;
    font-size: 9px;
}
.ui-icon-keypadview {
    background: url(../images/keypad-white.png) 0 0 no-repeat;
    background-size: 26px 26px;
}
.ui-icon-stoplistview {
    background: url(../images/list-white.png) 0 0 no-repeat;
    background-size: 26px 26px;
}
.ui-icon-mapview {
    background: url(../images/map-white.png) 0 0 no-repeat;
    background-size: 26px 26px;
}

/* Keypad */
#keypad {
    padding-top: -10px;
}
#code-label {
    text-align: center;
    font-weight: bold;
}

#code-label,
.action-button,
.keypad-button {
    padding: .24em;
    margin: .1em;
    font-size: 2em;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    border-radius: .3em;
}

#clear-button-wrapper .ui-btn-inner {
    padding: .6em 15px;
}

.keypad-button .ui-btn-inner,
.action-button .ui-btn-inner {
    border-top: none;
}

#code-label-wrapper {
    width: 100%;
    padding: 0 6px 5px 5px;
}

#code-label-border {
    border: 1px solid #666;
    background-color: #FFF;
    margin-top: .3em;
    height: 51px;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    border-radius: .3em;
}

/* Stop List View */
#tour-stop-list .distance {
    float: right;
    margin-right: 1em;
    padding: 0.3em;
    font-size: 0.8em;
}

#tour-stop-list .nearest .distance {
    background-color: #7FBCE5;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    border-radius:.3em;
}

/* Map View */
#content-wrapper.tour-map {
    padding: 0;
}

#tour-map {
    width: 100%;
    height: 100%;
}

.leaflet-top, .leaflet-bottom {
    z-index: 999 !important;
}

#tour-map .distance-label-container {
    font-size: 12px;
    margin-top: -20px;
    width: 60px;
    margin-left: -18px;
    text-align: center;
}

#tour-map .distance-label {
    background-color: #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.marker-bubble-content .stop-options {
    margin-top: 5px;
    text-align: center;
}

/*** Tour Stops ***/

.tour-stop .title {
    font-size: 120%;
    margin: 0 0 20px 10px;
}

.tour-stop .description {
    margin: 10px;
}

/* Stop Group */
.ui-content.stop-group {
    padding: 0;
}

#stop-group #header-wrapper img {
    display: block;
    width: 100%;
}

#stop-group .description {
    margin: 20px;
}

#stop-group #stop-list {
    margin: 20px;
}

/* Media Player */
.player {
    max-width: 100%;
}
.mejs-overlay-play,
.mejs-poster {
    height: 100%;
    width: 100%;
}
/*** Audio Stops ***/

#audio-stop .poster-image {
    width: 100%;
}

/*** Video Stops ***/
#video-stop .player {
    max-width: 100%;
}

/* Image Stop */
#gallery {
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery li {
    float: left;
    width: 33.33333333%;
}

#gallery li a {
    display: block;
    margin: 5px;
    border: 1px solid #3c3c3c;
}

#gallery li a img {
    display: block;
    width: 100%;
    height: auto;
}
/* Web stop */
#web-stop img {
    width: 100%;
}