/* styles in here so we don't overrite each other */
#page {
  background:#eee;
}
#content-wrapper.bundle-home header {
  margin:-15px -15px 0 -15px !important;
}
#content-wrapper.bundle-home header img {
  margin:0!important;
}

/* fixed header is */
.ui-mobile .ui-header.fixed {
  height:40px;
}

/* change in main.css */
.ui-page-header-fixed {
  padding-top:40px;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
}


/* header bar buttons */
#header .ui-bar-a .ui-shadow,
.ui-bar-a .ui-shadow {
  -webkit-box-shadow:none;
  box-shadow:none;
}
#header .ui-title {
  text-shadow:none;
}
#header .ui-btn-up-a {
  border:none;background:none;
}
#header .ui-btn-inner {
  border:none;
  text-shadow:none;
  text-transform:uppercase;
  color: rgba(0,0,0,.5);
}
#header .ui-icon, #header .ui-icon:hover {
  background-color:transparent;
  border:none;
  box-shadow:none;
  color:#fff;
}
#header .ui-btn-inner:hover {
  background-color:transparent;
  border:none;outline:none;
}
#header .ui-btn-text {
  color:#fff;
}
#header .ui-icon:hover {
  background-color:transparent;
}

/* footer bar button */
#footer {
  border:none;
  background:#8CC5BF;
}
#footer .ui-btn-up-a {
  background:none;border:none;
}
#footer .ui-btn-active {
    border: 1px solid #7AAEAA;
    background: #7AAEAA /*{global-active-background-color}*/;
}
#footer .ui-btn-inner {
  border:none;
}
#footer .ui-btn-active,
#footer .ui-btn-up-a {
  text-shadow:none;
  text-transform:uppercase;
  color:#fff;
  font-weight:normal;
}
#footer .ui-btn-hover-a {
  text-shadow:none;
  text-transform:uppercase;
  color:#fff;
  font-weight:normal;
}

/* content area bg */
.ui-body-c, .ui-overlay-c {
  background-image:none;
  background-color:#eee;
}

/* gets rid of menu background image fade */
.ui-btn-up-c {
  background-image:none;
}
.ui-btn-hover-c {
  background-image:none;
}

/* filter search box on stop listing page */
.ui-listview-filter .ui-input-search {
  margin:10px 5px 5px 5px;
}


/* slider with dots */
/* slide */
.rslides {

}
.rslides .image-slide {

}
.rslides .image-slide img {

}
.rslides .image-slide .caption {
  position:absolute;
  bottom:0;left:0;right:0;top:auto;
  background:rgba(0,0,0,.5);
  color:#fff;
  margin:0;padding:5px;
  font-size:11px;
  text-shadow:none;
}
.rslides li {
  max-height:375px;
}
/* slider dots */
.rslides_tabs {
  margin:0;padding:10px 0;
  text-align:center;
}
.rslides_tabs li {
  display:inline-block;
  margin-right:10px;

}
.rslides_tabs li:last-child {
  margin-right:0px;
}
.rslides_tabs li a {
  height:14px;width:14px;
  display:block;
  overflow:hidden;text-indent:30px;
  white-space:nowrap;
  border-radius:7px;
  background:#ccc;
}
.rslides_tabs li.rslides_here a {
  background:#222;
}



/* media player */
.mejs-container {

}
.mejs-container .mejs-mediaelement {

}
.mejs-container .mejs-controls {
  background-color:#444 !important;
  background-image:none !important;
}
.mejs-container .mejs-button {
  background-color:transparent;
  opacity:.8;
  border:none;
}
.mejs-controls .mejs-button button:focus {
  border:none;
  outline:none!important;
}

.mejs-container .ui-btn-hidden {
  opacity:1;
}
.mejs-container .mejs-button .ui-btn {
  background-color:transparent;
  box-shadow:none;
}
.mejs-container .mejs-button.mejs-play .ui-btn {

}
.mejs-mediaelement {

}
.mejs-controls .mejs-time-rail .mejs-time-current {
  border-radius:0px;
  background-color:#df5b2d;
  background-image:none;
}
.mejs-controls .mejs-time-rail .mejs-time-loaded {
  background-color:#999!important;
  background-image:none!important;
  border-radius:0px;
}
.mejs-controls .mejs-time-rail .mejs-time-total {
  background-color:#ccc!important;
  background-image:none!important;
  border-radius:0px;
}
.mejs-container .mejs-controls .mejs-time span {
  font-style:normal;
  font-weight:300;
  font-family: 'Open Sans', sans-serif;
  text-shadow:none;
}
/* */
/* volume slider */
.mejs-controls div.mejs-horizontal-volume-slider {
  /*background-color:#ccc!important;
  background-image:none!important;
  border-radius:0px;*/
}
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
  background-color:#999!important;
  background-image:none!important;
  border-radius:0px;
}
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  border-radius:0px;
  background-color:#df5b2d;
  background-image:none;
}


/* transcription collapsable */
#transcription {
  margin-left:20px;
  margin-right:20px;
}


/* custom audio player */
.custom-audio {
  /*display:table;*/
  width:100%;
  background:#444;
  font-family: 'Open Sans', sans-serif;
  font-weight:400!important;
  font-style:normal!important;
  font-size:11px;
  text-shadow:none;
  box-sizing:border-box;
  padding:5px;
  position:fixed;
  left:0;right:0;
  top:40px;
  z-index:999;
  height:40px;

}
.play-pause {
  width:10%;
  color:#fff;
  box-sizing:border-box;
  color:rgba(255,255,255,0);
  float:left;
  margin-top:7px;
  background: url('../images/icon-play.png') no-repeat center center transparent;
  background-size:8px 6px;
}
.play-pause.play {
  background: url('../images/icon-play.png') no-repeat center center transparent;
  background-size:8px 6px;
}
.play-pause.pause {
  background: url('../images/icon-pause.png') no-repeat center center transparent;
  background-size:8px 6px;
}
.audio-slider {
  background-color:#999;
  position:relative;
  font-family: 'Open Sans', sans-serif;
  font-weight:400!important;
  font-style:normal!important;
  height:10px;
  width:66%;
  float:left;
  margin-top:10px;
}
.audio-slider .audio-progress {
  background-color:#df5b2d;
  position:absolute;
  left:0;top:0;bottom:0;
  height:10px;
}
.audio-time {
  display:table-cell;
  width:22%;
  color:#fff;
  font-family: 'Open Sans', sans-serif;
  font-weight:400!important;
  font-style:normal!important;
  box-sizing:border-box;
  text-align:right;
  padding-right:5px;
  float:left;
  margin-top:7px;
}
.slideshow-images {
  background:#ccc;
}
.slideshow-images .caption {
  position:absolute;
  bottom:0;left:0;right:0;top:auto;
  background:rgba(0,0,0,.5);
  color:#fff;
  margin:0;padding:5px;
  font-size:11px;
  text-shadow:none;
}

/* stop list */
.stop-code {
  display:none;
}
.title-with-code {
  padding-left:0px;
}

/* audio slideshow */
#audio-slideshow-stop {
  padding-top:40px;
}

/* home header */
.homeHeader {
  background-image: url('../images/tap-into-baltimore-title.jpg') !important;
  background-image: url('../images/splashmap.jpg') !important;
  background-size: 100% auto!important;
  background-position:center center!important;
  height:220px;
}
#bundle-home header {
  display:block;
}
#bundle-home #tour-list {
  /*margin: -20px -15px -15px -15px;*/
  margin:15px 0 0 0;
}
#bundle-home #tour-list li {
  border:none;background:none;
  margin:0 0 10px 0;
}
#bundle-home #tour-list li .ui-btn-inner {
  border:none;background:none;
}
#bundle-home #tour-list li .ui-btn-inner .ui-btn-text {
  border:none;background:none;
}
#bundle-home #tour-list li a {
    background:#C7512A;
    color:#fff;
    text-shadow:none;
    position:relative;
}
#bundle-home #tour-list li a:after {
  content:"";
  width:9px;
  height:14px;
  overflow:hidden;
  display:block;
  background: url('../images/icon-inset-arrow-white.png') no-repeat center center;
  background-size: 9px 14px;
  position:absolute;
  right:10px;
  top:50%;
  margin-top:-8px;
}

/* no more hover please */
.ui-btn-hover-a {
  border: none;
  background-color: transparent;
  color: #fff;
  text-shadow: none;
  background-image: none!important;
}


/* tour stop list */
.tour-stop-list {

}
.tour-stop-list .ui-icon {
  box-shadow:none!important;
}
.tour-stop-list .ui-listview {
  background:#888;
}
.tour-stop-list .ui-listview li {
  background:#888;
  border-bottom:none;
}
.tour-stop-list .ui-listview li .ui-btn-inner {
  border-top:none;
  text-shadow:none;
}
.tour-stop-list .ui-listview li .ui-btn-inner .title-with-code {
  text-shadow:none;
  color:#fff;
}


/* insent list */
.ui-listview-inset {
  box-shadow:none;
}
.ui-listview-inset .ui-icon-arrow-r {
  background: url('../images/icon-inset-arrow.png') no-repeat center center transparent;
  background-size: 9px 14px;
}
.ui-listview .ui-li-icon {
  top: .8em;
}


/* KEYPAD */
#keypad {

}
#keypad .keypad-button {
  box-shadow:none;
  border-radius:0px;
  background:#999;
  border:none;
  text-shadow:none;
  color:#fff;
}
#keypad .keypad-button.ui-btn-hover-a {
  background:#ccc;
  color:#444;
}
#keypad .action-button {
  background:#DF5B2D;
  border:1px solid #DF5B2D;
  border-radius:0px;
  text-shadow:none;
  text-transform:uppercase;
}
#keypad .action-button.ui-btn-hover-a {
  background:#C7512A;
  border:1px solid #C7512A;
}


/* these buttons are leaflet related */
.leaflet-bar {
  box-shadow:none;
}
.ui-body-c .ui-link,
.ui-body-c .ui-link:visited {
  color:#888;
}
.ui-body-c .ui-link:hover {

}

/* minus plus icon overrides */
.ui-icon-minus {
  background: url('../images/icon-inset-minus.png') no-repeat center center transparent;
  background-size:13px 13px;;
}
.ui-icon-plus {
  background: url('../images/icon-inset-plus.png') no-repeat center center transparent;
  background-size:13px 13px;;
}

/* search icon */
.ui-icon-search, .ui-icon-searchfield:after {
  background: url('../images/icon-search.png') no-repeat center center transparent;
  background-size:14px 14px;
}

/* home footer */
.brand-footer {
  padding-top:10px;
}
.brand-footer ul li img {
  height:40px; width:auto;
}
.brand-footer ul li p {
  font-size:11px;
  color:#888;
}

/* left right buttons fixed header */
.ui-header-fixed .ui-btn-left, .ui-header-fixed .ui-btn-right {
  top: 7px;
}
