#keypad { 
	margin: .1em;
}
#keypad button { 
	display: block; 
	width: 98%; 
	cursor: pointer; 
	text-decoration:none;
}
#keypad gobtn { 
	display: block; 
	cursor: pointer; 
	text-decoration:none;
}

.ui-header {
	height: 3em;
}

.ui-header #index-selector {
	margin: 0.6em 20% 0.8em;
	width: 60%;
	text-align: center;
}

.ui-header .ui-title {
	padding-top: 0.4em;	
	margin-right: 10%;
	margin-left: 10%;
}

#back-button {
	margin-top: .35em;
	margin-bottom: .35em;
}

#proximity-toggle-label {
	margin-top: 0.5em;
	font-size: 110%;
	margin-left: 20px;
}

#proximity-container .ui-slider-switch {
	float: right;
}

.map-content {
	margin: 0px;
	padding: 0px;
}

#tour-map {
	width: 100%;
	height: 100%;
}

#tour-map .marker-bubble-content .title {
	font-weight: bold;
}

#tour-map .stop-icon {
	background-image: url('../images/marker.png') !important;
	width: 25px !important;
	height: 41px !important;
	margin-left: -12px !important;
	margin-top: -41px !important;
}

#tour-map .distance-label-container {
	font-size: 12px;
	margin-top: -15px;
	width: 60px;
	margin-left: -18px;
	text-align: center;
}

#tour-map .distance-label {
	background-color: #ccc;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;	
}

#tour-map .location-icon {
	background-image: url('../images/icon-locate.png') !important;
	width: 24px !important;
	height: 24px !important;
	margin-left: -12px !important;
	margin-top: -12px !important;
}

#error_invalidCode .ui-header a {
	display: none;
}
.ui-bar {
	padding:.4em;
	margin: .1em;
	text-align:center;
	font-weight:bold;
	cursor: pointer; 
	font-family: arial, helvetica, sans-serif;
	font-size:2em;
	border-radius: .3em;
	-moz-border-radius: .3em;
	-webkit-border-radius: .3em;
}
.ui-bar:active {
	background:#33CCFF;
}
.ui-block-a, .ui-block-b, .ui-block-c, .ui-block-d, .ui-block-e {
	min-height:1.93em;
}
.ui-content stoptitle {
	color:#666;
	font-weight:bold;
}
.ui-content stopdescription{
	color:#666;
}

.primaryImg {
	display:block;
	margin-left: auto;
   	margin-right: auto;
}
#writeStyle {
	width:66.4%;
	border:1px solid #666;
	background-color: #FFF;
	border-radius:.3em;
	-moz-border-radius:.3em;
	-webkit-border-radius:.3em;
	margin-top:.3em;height:60px;
}
#clearStyle {
	width:66.55%;
}
#Gallery { list-style: none; padding: 0; margin: 0; }
#Gallery:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
#Gallery li { float: left; width: 33.33333333%; }
#Gallery li a { display: block; margin: 5px; border: 1px solid #3c3c3c; }
#Gallery li img { display: block; width: 100%; height: auto; }
#Gallery1 .ui-content, #Gallery2 .ui-content { overflow: hidden; }


/*** Stop List View ***/

#tour-stop-list span.distance {
	float: right;
	margin-right: 1em;
	padding: 0.3em;
	font-size: 0.8em;
}

#tour-stop-list li.nearest span.distance {
	background-color: #7FBCE5;
	border-radius:.3em;
	-moz-border-radius:.3em;
	-webkit-border-radius:.3em;	
}

/*** Tour Stops ***/

.tour-stop .title {
	font-size: 120%;
	margin: 0 0 20px 10px;
}

.tour-stop .description {
	margin: 10px;
}


/*** Audio Stops ***/
#audio-player {
	width: 100%;
}

#audio-player.audio-only {
	height: 20px;
}

/*** Video Stops ***/
#video-player {
	width: 100%;
}

#trans-button {
	width: 50%;
}

.transcription.hidden {
	display: none;
}

/*** MEDIA QUERIES ***********************************************************/

@media (max-width:500px) {

	.ui-header .ui-title {	
		margin-left: 70px; /* based on the width of the back button... */
		margin-right: 5%;
	}

}

