/* Keypad */
.keypad-button,
.action-button {
    border: 1px solid rgb(81,120,145);
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    border-radius: 75px;
    cursor: pointer;
    font-size: 2.6em;
    line-height: 1;
    margin: .285em auto;
    padding: .36em .38em .4em;
    width: 75px;
    height: 75px;
}

.clear-button {
    background: url(../images/delete_key.svg) 7px center no-repeat;
    background-size: 75%;
    max-width: inherit;
    padding: 0;
}

.go-button {
    background: #cfe5b5;
    font-size: 1.9em;
    margin-top: .39em;
    padding: .725em .6em .725em .5em;
    text-transform: uppercase;
}

#code-label {
    font-size: 3.5em;
    line-height: 1;
    margin: .1em;
    padding: .24em;
    text-align: center;
}

#code-label-wrapper {
    padding: 0 6px 5px 5px;
    width: 100%;
}

#code-label-border {
    background-color: none;
    height: 80px;
    margin-top: .3em;
}
