/* Stop Group */
#stop-group {

    #header-wrapper img {
        height: auto;
        width: 100%;
    }

    .stop-title {
        margin: 15px 20px 0 20px;
    }

    .description {
        margin: 20px;
    }

    #stop-list {
        margin: 0 0 15px !important;
    }

    .ui-listview {
        .ui-btn {
            margin: 0 0 1em !important;
        }
    }
}




