/* Stop Group */
#stop-group #header-wrapper img {
    display: block;
    height: auto;
    width: 110%;
    margin: 0 -5%;
}

#stop-group .stop-title {
    margin: 15px 20px 0 20px;
}

#stop-group .description {
    margin: 20px;
}

#stop-group #stop-list {
    margin: 20px;
}
