/* Zoom Stop */
.zoomingImageDescriptionHandle, .zoomingImageDescriptionText {
    background: rgba(0,0,0,.5);
    bottom: 0px;
    color: #FFF;
    font-size: 12px;
    padding: 5px 5px 25px 5px;
    position: absolute;
    text-align: left;
    width: 100%;
}
