<fieldset class="ui-grid-b" id="keypad">
	<div class="ui-block-a" id="writeStyle">
		<div class="ui-bar" id="write"></div>
	</div>
	<div class="ui-block-b">
		<div class="ui-bar ui-bar-d" id="gobtn">Go</div>	
	</div>
	<div class="ui-block-a"><button class="ui-bar ui-bar-d">1</button></div>
	<div class="ui-block-b"><button class="ui-bar ui-bar-d">2</button></div>	 
	<div class="ui-block-b"><button class="ui-bar ui-bar-d">3</button></div>  
	<div class="ui-block-a"><button class="ui-bar ui-bar-d">4</button></div>
	<div class="ui-block-b"><button class="ui-bar ui-bar-d">5</button></div>	 
	<div class="ui-block-b"><button class="ui-bar ui-bar-d">6</button></div>  
	<div class="ui-block-a"><button class="ui-bar ui-bar-d">7</button></div>
	<div class="ui-block-b"><button class="ui-bar ui-bar-d">8</button></div>	 
	<div class="ui-block-b"><button class="ui-bar ui-bar-d">9</button></div>  
	<div class="ui-block-a"><button class="ui-bar ui-bar-d">0</button></div>
	<div class="ui-block-b" id="clearStyle">
		<div class="ui-bar ui-bar-d" id="delete">Clear</div>
	</div>
</fieldset>
