<div data-role="header" data-id="tap-header" data-position="fixed">
	<a id='back-button' data-rel="back" data-mini="true"><%= back_label %></a>
	<% if (header_nav) { %>
	<div id='index-selector' data-role="controlgroup" data-type="horizontal" data-mini="true">
		<% _.each(nav_menu, function(item) { %>
		<a data-role="button" <%= (active_index == item.endpoint) ? 'data-theme="b"' : "" %> href='#<%= item.endpoint %>/<%= tour_id %>'><%= item.label %></a>
		<% }); %>
	</div>
	<% } else { %>
	<h1 id="page-title"><%= title %></h1>
	<% } %>
</div>
<div data-role="content">
</div>
<% if (footer_nav) { %>
<div data-role="footer" data-id="tap-footer" data-position="fixed">
	<div data-role="navbar">
		<ul>
			<% _.each(nav_menu, function(item) { %>
			<li><a <%= (active_index == item.endpoint) ? 'data-theme="b"' : "" %> href='#<%= item.endpoint %>/<%= tour_id %>'><%= item.label %></a></li>
			<% }); %>
		</ul>
	</div>
</div>
<% } %>