<div class='tour-stop video'>
	<div class='title'><%= tourStopTitle %></div>
	<video id="video-player" controls="controls" autoplay="autoplay"
	<% if (poster_image_path !== null) { %>
		poster='<%= poster_image_path %>'
	<% } %>
	>
		<p>Your browser does not support the video tag.</p>
	</video>
	<% if (transcription !== null) { %>
		<div id='trans-button' data-role='button' class='ui-mini'>Show Transcription</div>
		<div class='transcription hidden'><p><%= transcription %></p></div>
	<% } %>
</div>
