<style>
    .brand-footer {
        height: 50px;
    }
    .brand-footer ul,
    .brand-footer ul li,
    .brand-footer ul li p {
        margin: 0;
        padding: 0;
    }
    .brand-footer ul,
    .brand-footer ul li {
        list-style: none;
    }

    .brand-footer ul li {
        float: left;
        padding-right: .7em;
        height: 100%;
    }
    .brand-footer ul li img {
        max-width: 35px;
        opacity: .3;
    }
    .brand-footer ul li p {
        font-size: 12px;
    }
</style>
<header>
	<div class="homeHeader"></div>
</header>
<ul id="tour-list" class="ui-listview" data-role="listview">
	<% _.each(tours, function(tour, i) { %>
	<li data-icon="false">
		<a href="#" data-tour-id="<%= tour.get('id') %>" class="tour-info">
			<%= tour.get('title') %>
		</a>
	</li>
	<% }); %>
</ul>
<footer class="brand-footer">
    <ul>
        <li><img src="images/logo-mw.png"></li>
        <li><img src="images/logo-ima.png"></li>
        <li>
            <p>Powered by TAP.</p>
            <p>Built by <a href="http://lab.imalab.us">IMA Lab</a> for <a href="http://mw2014.museumsandtheweb.com">MW 2014</a>.</p>
        </li>
    </ul>
</footer>