<fieldset class="ui-grid-b">
    <div id="code-label-wrapper" class="ui-block-a ui-block-b ui-block-c">
        <div id="code-label-border">
            <div id="code-label"></div>
        </div>
    </div>
    <div class="ui-block-a">
        <div data-role="button" data-theme="a" class="keypad-button">1</div>
    </div>
    <div class="ui-block-b">
        <div data-role="button" data-theme="a" class="keypad-button">2</div>
    </div>
    <div class="ui-block-c">
        <div data-role="button" data-theme="a" class="keypad-button">3</div>
    </div>
    <div class="ui-block-a">
        <div data-role="button" data-theme="a" class="keypad-button">4</div>
    </div>
    <div class="ui-block-b">
        <div data-role="button" data-theme="a" class="keypad-button">5</div>
    </div>
    <div class="ui-block-c">
        <div data-role="button" data-theme="a" class="keypad-button">6</div>
    </div>
    <div class="ui-block-a">
        <div data-role="button" data-theme="a" class="keypad-button">7</div>
    </div>
    <div class="ui-block-b">
        <div data-role="button" data-theme="a" class="keypad-button">8</div>
    </div>
    <div class="ui-block-c">
        <div data-role="button" data-theme="a" class="keypad-button">9</div>
    </div>
    <div class="ui-block-a" id="clear-button-wrapper">
        <div id="clear-button" data-role="button" data-theme="b" class="action-button">Clear</div>
    </div>
    <div class="ui-block-b">
        <div data-role="button" data-theme="a" class="keypad-button">0</div>
    </div>
    <div class="ui-block-c">
        <div id="go-button" data-role="button" data-theme="b" class="action-button ui-disabled">Go</div>
    </div>
</fieldset>
