<div class="marker-bubble-content">
    <a href="<%= route %>" class="goto-stop">
        <span class="ui-btn-inner">
            <span class="ui-btn-text"><i class="fa fa-caret-right"></i></span>
        </span>
    </a>
	<div class="title"><a href="<%= route %>"><%= title %></a></div>
	<div class="distance">
        <%= distance %>
        <% if (showDirections) { %>
        <a href="http://maps.google.com/maps?saddr=Current%20Location&daddr=<%= stopLat %>,<%= stopLong %>">Get Directions</a>
        <% } %>
    </div>
</div>
