<a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
<div data-role="header" data-theme="a" class="ui-corner-top">
    <h1><%= title %></h1>
</div>
<div data-role="content" data-theme="d" role="main">
    <div id="twitter-share-button" class="share-button">
        <iframe allowtransparency="true" frameborder="0" scrolling="no"
                src="http://platform.twitter.com/widgets/tweet_button.html?url=<%= url %>"
                style="width:100px; height:20px;"></iframe>
    </div>
    <div id="facebook-share-button" class="share-button">
        <iframe src="http://www.facebook.com/plugins/like.php?href=<%= url %>&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=false&amp;font=arial&amp;colorscheme=light&amp;action=like&amp;height=21&amp;appId=<%= FBAppID %>" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
    </div>
</div>
