<ul  data-role="listview" data-filter="true">
    <% _.each(stops, function(stop) { %>
    <li>
        <a href='<%= stop.model.getRoute() %>'>
            <% if (displayCodes && stop.model.getProperty('code')) { %>
            <span class="stop-code"><%= stop.model.getProperty('code') %></span>
            <span class="title-with-code">
            <% } else if (displayThumbnails && stop.thumbnail) { %>
            <img src="<%= stop.thumbnail %>" class="ui-li-thumb" />
            <span class="title-with-thumbnail">
            <% } else { %>
            <img src="<%= stop.icon %>" class="ui-li-icon ui-li-thumb" />
            <span>
            <% } %>
                <%= stop.title %>
            </span>
        </a>
    </li>
    <% }); %>
</ul>